html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    background: url(img/green-patterns-wallpaper-photo-19.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Original Surfer', serif, cursive;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Original Surfer', sans-serif;
    font-size: 60px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: rgb(185, 236, 127);
    text-shadow: 2px 2px white, 0 0 2px black;
    margin: 0.5em 0 0.5em 0;
}

/*
 * Styles for the deck of cards
 */

.deck1, .deck2, .deck3 {
    padding: 32px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}
.deck1 {
    width: 760px;
    height: 805px;
    min-height: 680px;
    background-color: rgb(82, 105, 56);
    box-shadow: 0 0 80px 10px rgb(185, 236, 127);
}

.deck2 {
    width: 700px;
    height: 750px;
    min-height: 680px;
    margin-top: 55px;
    background-color: rgb(114, 146, 78);
}

.deck3 {
    width: 660px;
    height: 680px;
    min-height: 680px;
    margin-top: 55px;
    background-color: rgb(185, 236, 127);
}

.deck3 .card {
    height: 125px;
    width: 125px;
    background-image: url(img/cecbdf497a398ac9c679e231c35a164f.jpg);
    font-size: 0;
    color: rgb(55, 71, 37);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck3 .card.open {
    transform: rotateY(0);
    background: #98fb98;
    cursor: default;
}

.deck3 .card.show {
    font-size: 33px;
}

.deck3 .card.match {
    cursor: default;
    background: #82c282;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5) inset;
    font-size: 33px;
    /*-webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );*/
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    /*     transition: width 2s, height 2s, transform 2s; */
          -webkit-transform: rotate(360deg); /* Safari */
    /*     transform: rotate(360deg); */
}

.deck3 .card.unmatched {
	/* animation-name: pulse;*/
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	/* animation-duration: .75s;*/
	/*background: #e2043b;*/
}

.deck3 .card.disabled {
	pointer-events: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    margin-bottom: 30px;
    width: 760px;
    border-radius: 5px;
    font-size: 20px;
    color: rgb(185, 236, 127);
    text-shadow: 1px 1px white, 0 0 2px black;
    letter-spacing: 0.3em;
    z-index: 1;
    background-color: rgb(82, 105, 56);
    padding: 10px 20px;
    justify-content: space-between;
}

.score-panel .stars {
    padding: 0;
    display: inline-block;
    margin: auto;
    text-align: center;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart{
    cursor: pointer;
    display: inline-block;
    margin-left: 15%; 
}

.score-panel .moves, .score-panel .timer {
    display: inline-block;
    margin-left: 15%; 
}




/*

Modal

*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */ 
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    
}
  /* Modal Content */
.modal-content {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: none;
    border-radius: 7px;
    width: 670px;
    height: auto;
    text-align: center;
}

.modal-text{
    font-size: 30px;
}

.modal button{
    width: 80%;
    height: 50px;
    border: none;
    background-color: #b1cf95;
    border-radius: 5px;
    box-shadow: 0 0 20px 5px gray;
}

.modal button:hover {
    box-shadow: 0 0 7px 3px rgb(95, 95, 95);
    cursor: pointer;
}

.button-text {
    background-image: url(img/confetti.png);
    font-size: 35px;
    font-weight: bolder;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}